# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Environments
.env
.venv/
env/
venv/

# Tools
.cache/
.coverage*
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Local files
.DS_Store
.obsidian/
celerybeat-schedule
celerybeat.pid
